<div class="loading" *ngIf="showLoader">
    <span id="loader" class="loader"></span>
  </div>
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#"><i></i> </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
    <li class="nav-item"  routerLink="/accueil">
    <a class="nav-link" href="javascript:void(0);" ><i class="far fa-address-book"></i> <b>Personnels</b> </a>
    </li>
    <li class="nav-item" routerLink="/av" >
    <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i><b>Avancements des Echelons</b></a>
    </li>
    <li class="nav-item"  routerLink="/historiques">
    <a class="nav-link" href="javascript:void(0);" style="color: #fff;"><i class="far fa-clone"></i><b>Historiques</b></a>
    </li>
    <li class="nav-item"  routerLink="/login" >
        <a  routerLink="/login" class="nav-link"><i class="fa-solid fa-arrow-right-from-bracket"></i><b>Déconnexion</b></a>
    </li>
    </ul>
    </div>
    </nav>
<p> pas encore !!</p>